<div class="background-container">
<div class="cards">
    <mat-card>
        <span>Bitti</span>
        <div class="todos">
          <div class="deneme" >task 1</div>
          <div class="deneme" >task 2</div>
          <div class="deneme" >task 3</div>
        </div>
      
      </mat-card>
      <mat-card>
        <mat-card-content>Simple card</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>Simple card</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>Simple card</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>Simple card</mat-card-content>
      </mat-card>
</div>
</div>