<div class="background-container">
  <div class="cards">
    <mat-card *ngFor="let item of listTitleList">
      <span>{{item?.name}}</span>
      <div *ngFor="let task of item?.tasks" class="deneme">{{task?.title}}</div>
      <div class="task-form">
        <form [formGroup]="taskForm" (ngSubmit)="addTask(item!.id,taskForm.value.taskName)">
          <input type="text" formControlName="taskName" placeholder="İş giriniz">
          <button type="submit">İş Ekle</button>
        </form>
      </div>
    </mat-card>
    <mat-card *ngIf="showAddListTitleInput">
      <form [formGroup]="listForm" (ngSubmit)="addToDoList()">
        <input type="text" formControlName="listTitleName" placeholder="liste adı girin">
        <button type="submit">Liste Ekle</button>
      </form>
    </mat-card>
    <button *ngIf="!showAddListTitleInput" class="addTodoButton" style=" cursor: pointer;"
      (click)="changeshowAddListTitleInputStatus()">
      <mat-icon>add</mat-icon>Başka Liste Ekleyin</button>
  </div>
</div>